// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~assets/style/colors.styl'

@font-face {
    font-family: Bebas;
    font-display: auto;
    src: url('~assets/fonts/bebas.ttf');
}

@font-face {
    font-display: auto;
    font-family: Merriweather;
    src: url('~assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Merriweather;
    font-display: auto;
    src: url('~assets/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Merriweather;
    font-display: auto;
    src: url('~assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// base-font-family = 'Raleway', sans-serif;
// head-font-family = 'Text Me One', sans-serif;

$body-font-family= 'Open Sans', sans-serif;
head-font-family = 'Josefin Sans', sans-serif;

// base-font-family = 'Open Sans', sans-serif;
// head-font-family = 'Alegreya Sans SC', sans-serif;


base-font-size =   18px;

body {
    font-family: $body-font-family;
    font-size: base-font-size;
}
p, a, li {
    font-family: $base-font-family;
    font-size: base-font-size;
    line-height: 1.75;
	color: gray-900;
}

h1,h2,h3,h4,h5,h6 {
    font-family: head-font-family;
	color: gray-900
}


.post-caption {
    font-size: 12px;
    padding-bottom: 10px;
}

.application--wrap {
    min-height: 100dvh !important;
    }
