$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$about-color: #8e44ad;
$blog-color: #2980b9;
$blogpost-color: #3498db;
$project-color: #f39c12;
$project-info-color: #f39c32;
$photography-color: #27ae60;
