primary-about-900 = hsla(282, 44%, 07%, 1)
primary-about-800 = hsla(282, 44%, 17%, 1)
primary-about-700 = hsla(282, 44%, 27%, 1)
primary-about-600 = hsla(282, 44%, 37%, 1)
primary-about-500 = hsla(282, 44%, 47%, 1)
primary-about-400 = hsla(282, 44%, 57%, 1)
primary-about-300 = hsla(282, 44%, 67%, 1)
primary-about-200 = hsla(282, 44%, 77%, 1)
primary-about-100 = hsla(282, 60%, 87%, 1)

primary-blog-900 = hsla(204, 64%, 04%, 1)
primary-blog-800 = hsla(204, 64%, 14%, 1)
primary-blog-700 = hsla(204, 64%, 24%, 1)
primary-blog-600 = hsla(204, 64%, 34%, 1)
primary-blog-500 = hsla(204, 64%, 44%, 1)
primary-blog-400 = hsla(204, 64%, 54%, 1)
primary-blog-300 = hsla(204, 64%, 64%, 1)
primary-blog-200 = hsla(204, 64%, 74%, 1)
primary-blog-100 = hsla(204, 64%, 84%, 1)

primary-project-900 = hsla(37, 90%, 11%, 1)
primary-project-800 = hsla(37, 90%, 21%, 1)
primary-project-700 = hsla(37, 90%, 31%, 1)
primary-project-600 = hsla(37, 90%, 41%, 1)
primary-project-500 = hsla(37, 90%, 51%, 1)
primary-project-400 = hsla(37, 90%, 61%, 1)
primary-project-300 = hsla(37, 90%, 71%, 1)
primary-project-200 = hsla(37, 90%, 81%, 1)
primary-project-100 = hsla(37, 90%, 91%, 1)

primary-photography-900 = hsla(145, 63%, 02%, 1)
primary-photography-800 = hsla(145, 63%, 12%, 1)
primary-photography-700 = hsla(145, 63%, 22%, 1)
primary-photography-600 = hsla(145, 63%, 32%, 1)
primary-photography-500 = hsla(145, 63%, 42%, 1)
primary-photography-400 = hsla(145, 63%, 52%, 1)
primary-photography-300 = hsla(145, 63%, 62%, 1)
primary-photography-200 = hsla(145, 63%, 72%, 1)
primary-photography-100 = hsla(145, 63%, 82%, 1)

gray-900 = hsla(0, 0, 10%, 1)
gray-800 = hsla(0, 0, 20%, 1)
gray-700 = hsla(0, 0, 30%, 1)
gray-600 = hsla(0, 0, 40%, 1)
gray-500 = hsla(0, 0, 50%, 1)
gray-400 = hsla(0, 0, 60%, 1)
gray-300 = hsla(0, 0, 70%, 1)
gray-200 = hsla(0, 0, 80%, 1)
gray-100 = hsla(0, 0, 90%, 1)

